@using System.Security.Claims;
@model IEnumerable<OrderEase.Models.Data.Order>


@{
    ViewBag.Title = "Account";
    var userLogin = User.FindFirst(x => x.Type == ClaimsIdentity.DefaultNameClaimType).Value;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>OrderEase.com</title>
</head>

<body>
    <h3> Пользователь: @Html.DisplayFor(login => userLogin)</h3>

    <p>
        <a asp-action="CreateOrder" asp-controller="Order">Добавить новый заказ</a>
    </p>

    <h3>Мои заказы:</h3>
    <table>
        <tr>
            <th>Номер заказа</th>
            <th>Дата создания/обновления</th>
        </tr>

        @{
            foreach (var item in Model.Reverse())
            {
                if (userLogin == item.UserEmail)
                {
                    <tr>
                        <td> @Html.ActionLink($"{item.Number}", "ReadOrder", "Order", new { id=item.Id }) </td>
                        <td> @Html.DisplayFor(modelItem => item.Date) </td>
                    </tr>
                }
            }
        }
    </table>


    <form asp-action="logout" asp-controller="Account">
        <p>
            <input type="submit" value="Выйти из аккаунта" />
        </p>
    </form>
</body>
</html>