<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>OrderEase.com</title>
</head>

<body>
    <h2> Страница пользователя</h2>

    <h3>Мои заказы</h3>


    <form asp-action="logout" asp-controller="Account">
        <p>
            <input type="submit" value="Выйти из аккаунта" />
        </p>
    </form>
</body>
</html>