@using System.Security.Claims;
@model IEnumerable<OrderEase.BLL.DTO.OrderDTO>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Account";
    var userLogin = User.FindFirst(x => x.Type == ClaimsIdentity.DefaultNameClaimType).Value;
    var provider = string.Empty;
}

<div>
    <h3> Пользователь: @Html.DisplayFor(login => userLogin)</h3>

    <p>
        <a asp-action="CreateOrder" asp-controller="Order">Добавить новый заказ</a>
    </p>

    <h3>Мои заказы:</h3>
     <form asp-action="HomePage" asp-controller="Account" asp-anti-forgery="true">
        <div>
            <p> Настройка данных фильтрации заказов (базовая настройка 1 месяц):</p>
            <label for="providerId">Выберите поставщика:</label>
            <select id="providerId" name="providerId">
                <option value=""></option>
                <option value="1">Twigo</option>
                <option value="2">М.Видео</option>
                <option value="3">DNS</option>
                <option value="4">Эльдорадо</option>
            </select>
            <label for="date">Выберите период:</label>
            <select id="date" name="date">
                <option value="1"></option>
                <option value="1">1 месяц</option>
                <option value="2">2 месяца</option>
                <option value="3">3 месяца</option>
                <option value="4">4 месяца</option>
                <option value="5">5 месяцев</option>
                <option value="6">6 месяцев</option>
                <option value="7">7 месяцев</option>
                <option value="8">8 месяцев</option>
                <option value="9">9 месяцев</option>
                <option value="10">10 месяцев</option>
                <option value="11">11 месяцев</option>
                <option value="12">12 месяцев</option>
            </select>
            <input type="submit" value="Применить фильтр" formmethod="post"/>
        </div>
    </form>
    <table>
        <tr>
            <th>Номер заказа</th>
            <th>Поставщик</th>
            <th>Дата создания/обновления</th>
        </tr>

        @{
            foreach (var item in Model.Reverse())
            {
                if (userLogin == item.UserEmail )
                {
                    <tr>
                        <td> @Html.ActionLink($"{item.Number}", "ReadOrder", "Order", new { id=item.Id }) </td>
                        <td> 
                            @{

                                if (item.ProviderId == 1)
                                    provider = "Twigo";
                                if (item.ProviderId == 2)
                                    provider = "М.Видео";
                                if (item.ProviderId == 3)
                                    provider = "DNS";
                                if (item.ProviderId == 4)
                                    provider = "Эльдорадо";
                            }
                            @Html.DisplayFor(modelItem => provider)
                        </td>
                        <td> @Html.DisplayFor(modelItem => item.Date) </td>
                    </tr>
                }
            }
        }
    </table>
    <form asp-action="logout" asp-controller="Account">
        <p>
            <input type="submit" value="Выйти из аккаунта" />
        </p>
    </form>
</div>