@using System.Security.Claims;
@using OrderEase.WebClient.PL.Models;
@model OrderViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Order";
    var userLogin = User.FindFirst(x => x.Type == ClaimsIdentity.DefaultNameClaimType).Value;
}

<h3 class="username"> Пользователь: @Html.DisplayFor(login => userLogin)</h3>

<div class="page">
    <form asp-action="CreateOrder" asp-controller="Order" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <h3 style="text-align:center">Создание нового заказа:</h3>
            <table>
                <tr>
                    <td style ="text-align:left"> <label asp-for="ProductName">Выберите товар:</label> </td>
                    <td style ="text-align:left">
                        <select id="ProductName" name="ProductName">
                            <option value=""></option>
                            <option value="iPhone 12">iPhone 12</option>
                            <option value="iPhone 12 Pro">iPhone 12 Pro</option>
                            <option value="iPhone 12 Pro Max">iPhone 12 Pro Max</option>
                            <option value="iPhone 13">iPhone 13</option>
                            <option value="iPhone 13 Pro">iPhone 13 Pro</option>
                            <option value="iPhone 13 Pro Max">iPhone 13 Pro Max</option>
                            <option value="iPhone 14">iPhone 14</option>
                            <option value="iPhone 14 Pro">iPhone 14 Pro</option>
                            <option value="iPhone 14 Pro Max">iPhone 14 Pro Max</option>
                        </select>
                    </td>
                    <span asp-validation-for="ProductName" />
                </tr>
                <tr>
                    <td style ="text-align:left"> <label asp-for="Quantity">Укажите количество:</label> </td>
                    <td style ="text-align:left"> <input asp-for="Quantity" /></td>
                    <span asp-validation-for="Quantity" />
                </tr>
                <tr>
                    <td style ="text-align:left"> <label asp-for="Unit">Выберите ед. изм.:"</label> </td>
                    <td style ="text-align:left"> <select id="Unit" name="Unit">
                            <option value=""></option>
                            <option value="шт.">шт.</option>
                            <option value="упак.">упаковка (10 шт.)</option>
                        </select>
                    </td>
                    <span asp-validation-for="Unit" />
                </tr>
                <tr>
                    <td style ="text-align:left"> <label asp-for="ProviderName">Выберите поставщика:</label> </td>
                    <td style ="text-align:left">
                        <select id="ProviderName" name="ProviderName">
                            <option value=""></option>
                            <option value="Twigo">Twigo</option>
                            <option value="М.Видео">М.Видео</option>
                            <option value="DNS">DNS</option>
                            <option value="Эльдорадо">Эльдорадо</option>
                        </select>
                    </td>
                    <span asp-validation-for="ProviderName" />
                </tr>
            </table>
            <p>
                <div>
                    <input type="submit" value="Создать заказ" />
                </div>
            </p>
            <p style="text-align:center"> <a asp-action="HomePage" asp-controller="Account">Вернуться к списку заказов</a> </p>
        </div>
    </form>
</div>
