@using System.Security.Claims;
@model OrderEase.Models.Web.OrderModel

@{
    ViewBag.Title = "Order";
    var userLogin = User.FindFirst(x => x.Type == ClaimsIdentity.DefaultNameClaimType).Value;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>OrderEase.com</title>
</head>

<body>
    <h3> Пользователь: @Html.DisplayFor(login => userLogin)</h3>

    <form asp-action="CreateOrder" asp-controller="Order" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div>
                <label asp-for="ProductName">Выберите продукт</label><br />
                <select id="ProductName" name="ProductName">
                    <option value="iphone 12">iPhone 12</option>
                    <option value="iphone 12 pro">iPhone 12 Pro</option>
                    <option value="iphone 12 pro">iPhone 12 Pro Max</option>
                    <option value="iphone 13">iPhone 13</option>
                    <option value="iphone 13 pro">iPhone 13 Pro</option>
                    <option value="iphone 13 pro">iPhone 13 Pro Max</option>
                    <option value="iphone 14">iPhone 14</option>
                    <option value="iphone 14 pro">iPhone 14 Pro</option>
                    <option value="iphone 14 pro">iPhone 14 Pro Max</option>
                </select>
                <span asp-validation-for="ProductName" />
            </div>
            <div>
                <label asp-for="Quantity">Укажите количество</label><br />
                <input asp-for="Quantity" />
                <span asp-validation-for="Quantity" />
            </div>
            <div>
                <label asp-for="Unit">Выберите ед. изм."</label><br />
                <select id="Unit" name="Unit">
                    <option value="шт.">шт.</option>
                    <option value="упак.">упаковка (10 шт.)</option>
                </select>
                <span asp-validation-for="Unit" />
            </div>
            <div>
                <label asp-for="ProviderName">Выберите поставщика</label><br />
                <select id="ProviderName" name="ProviderName">
                    <option value="Twigo">Twigo</option>
                    <option value="М.Видео">М.Видео</option>
                    <option value="DNS">DNS</option>
                    <option value="Эльдорадо">Эльдорадо</option>
                </select>
                <span asp-validation-for="ProviderName" />
            </div>
            <p>
                <div>
                    <input type="submit" value="Создать заказ" />
                </div>
            </p>
        </div>
    </form>
    
</body>
</html>
