@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page">
    <h2>Добро пожаловать на OrderEase.COM</h2>
    <h2>OrderEase.COM это удобное решение для создания и управления заказами!</h2>
    <h3>Для продолжения работы выберите дейтсвие:</h3>

    <div>
        <li> @Html.ActionLink("Войти", "Login", "authorization") </li>
        <li> @Html.ActionLink("Зарегистрироваться", "Registration", "authorization") </li>
    </div>
</div>
